.header {
    padding: 1rem;
}

.nav {
    width: vw;
    display: flex;
    justify-content: space-between;
}

.link {
    padding: 1rem .3rem;
    color: rgb(217, 217, 217);
    font-size: medium;
    font-weight: 700;
    white-space: nowrap;
    transition: color .1s ease-in-out;
}

.link:hover {
    color: rgb(249, 228, 144);
}