.wrapper {
    margin: 0.5rem;
    padding: 0.5rem;
    text-align: center;
    border: 1px solid #aaa;
    border-radius: 10px;
}

.loginButtons {
    padding: 1rem;
}

.loginButtons button {
    margin: 0 0.5rem;
}

.button {
    padding: 1rem;
}

.counter {
    margin-bottom: 1rem;
}